/***** RESET *****/
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html, body, div, object, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, form, fieldset, input, textarea, select, label, legend, a, small, table, th, td {margin:0; padding:0; line-height:1em;}
div, li, a {-webkit-tap-highlight-color: rgba(0,0,0,0);}
li {list-style-type: none}
a {	text-decoration: none}
body {text-rendering:optimizeLegibility;}
html, fieldset, img, abbr {border:0;}
input, textarea, select, button {font-family:inherit;}
sup, sub {position:relative; top:-.4em; vertical-align:baseline;}
sub {top:.3em;}
table {border-spacing:0;}
th {text-align:left;}
abbr {cursor:help;}
a{
color: #9E7FDF;
}
q:before, q:after {content:"";}
a, a:hover, a:active {outline:none;}
/* clearfix */
.cf:before, .cf:after {content:""; display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}
/*color #4FACE1*/
/***** GLOBAL *****/
#container{
max-width: 1200px;
margin:0px auto;
background-color: #ffffff;
margin-top: 68px;
margin-bottom: 68px;
box-shadow: 0px 0px 8px rgba(0,0,0,.8);
}
#popUpWrap{
top: 0px;
left: 0px;
display: none;
z-index: 6000;
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.7);
overflow: scroll;
}
.moreInfoSection{
text-align: center;
}
.popUp .x{
position: absolute;
color: #ffffff;
display: block;
width: 50px;
height: 50px;
background-color: #1072B9;
font-size: 32px;
line-height:  50px;
text-align: center;
top: -26px;
right: -26px;
}
.popUp{
position: relative;
max-width: 600px;
background-color: #ffffff;
padding: 20px;
border: 4px solid #cccccc;
border-radius: 4px;
margin: 40px auto;
}
body {
position: relative;
background-image: url(../images/woodland.jpg);
font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
font-size: 18px;
color: #ffffff;
background-color: #270761;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}
body h1, body h2, body h3{
font-family: 'Josefin Sans', sans-serif;
font-size: 38px;
line-height: 54px;
}
.box-sizing{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
span{
color: #666666;
}
.fleft{
float: left;
}
.fright{
float:right;
}
.error{
font-size: 14px;
font-style: bold;
color: black;
}
b{
color: black;
}
blockquote{
font-style: italic;
background-color: #f5f5f5;
padding: 20px;
border: 1px solid #ccc;
}

/*Header*/
#header{
height: 34px;
background-color: #6F4CA3;
width: 100%;
border-bottom: 2px solid #41236D;
position: fixed;
top: 0px;
z-index: 4000;
left: 0px;
}
#heart{
margin-left: -8px;
position: absolute;
left: 50%;
width: 16px;
height:16px;
background-image: url(../images/heart.png);
background-repeat: no-repeat;
background-size: 100%;
top: 52px;
}
#center-header{
padding-top: 9px;
max-width: 1000px;
margin: 0px auto;
text-align: center;
}
#header a{
  margin: 0px 10px;
  color: #9E7FDF;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  transition: color .5s;
}
#header a:hover{
  color: #ffffff;
}
/*HEADEREND*/


.sweetsButton{
width: 50px;
display: block;
height: 50px;
background-image: url(../images/sweets.png);
background-size: 200%;
position: absolute;
right: 0px;
top: 0px;
z-index: 3000;
}
.sweetsButton:hover{
background-position: 100%;
}
.siteTitleWrap{
background-color: #2b2b2b;
padding: 40px 0px;
text-align: center;
}
.blackDividerLine{
border-top: 1px solid #000;
border-bottom: 1px solid #666;
margin: 20px 40px;
}
#siteTitle{
font-size: 42px;
width: 100%;
text-align: center;
z-index: 3000;
color: #ffffff;
font-weight: bold;
/*text-shadow: 0px 0px 4px rgba(0,0,0,0.6);*/
}
.siteTitleWrap > span{
display: block;
color: #ffffff;
font-size: 24px;
}

h2{
font-weight: lighter;
text-align: center;
color: #666666;
padding: 4px 4px 4px 0px;
margin: 20px 0px;
position: relative;
}

#imageScroller h3{
font-weight: bold;
color: #ffffff;
padding: 4px 4px 4px 0px;
margin: 20px 0px;
position: relative;
}

h3{
font-weight: bold;
color: #ffffff;
text-align: center;
padding: 24px 0px;
position: relative;
}

.featuredCustomersWrap{
width: auto;
background-color: #ffffff;
padding: 20px;
border-bottom: 2px solid #162B39;
}

.makeFlag{
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 10px 10px 0;
border-color: transparent #000 transparent transparent;
position: absolute;
bottom: -10px;
left: 0px;
}



input {
display: block;
width: 100%;
margin-top: 10px;
padding: 10px;
font-size: 16px;
-webkit-box-sizing: border-box;
}

textarea {
display: block;
margin-top: 10px;
width: 100%;
padding: 10px;
font-size: 16px;
-webkit-box-sizing: border-box;
height: 270px;
}

p{
font-size: 18px;
padding: 0px 0px 0px 0px;
color: #2b2b2b;
padding-bottom: 20px;
line-height: 137%;
clear: both;
}


/*--HEROSLIDER-UPLOADED-*/
.heroIllustration {
width: 64%;
float: right;
}
.title {
font-size: 24px;
}
.blueButton{
border:none;
outline:none;
transition: all .2s;
margin-bottom: 3px;
display:inline-block;
color: #cccccc;
padding: 10px 20px;
background-color: rgba(30, 30, 30, 0.8);
}
.sliderContol .blueButton:hover{
transition: all .2s;
color: #ffffff;
background-color: rgba(255, 255, 255, 0.5);
}
.blueButtonSelected,.sliderContol .blueButton.blueButtonSelected:hover{
background-color: #ffffff; /* Old browsers */
color: #ffffff!important;
}
.sliderContol .blueButton:active{
background-color: rgba(255, 255, 255, 0.9);
color: #ffffff;
}
.orangeButton{
transition: all .2s;
margin-top: 1px;
color: #ffffff;
padding: 10px 20px;
border: 1px solid #491500;
border-radius: 4px;
background-color: #C53C03;
box-shadow: 0px 5px 0px #491500;
}
.orangeButton:hover{
transition: all .2s;
border: 1px solid #491500;
border-radius: 4px;
box-shadow: 0px 5px 0px #491500;
background-color: #F6520B;
}
.orangeButton:active{
color: #ffffff;
background-color: #F6520B; /* Old browsers */
}
.defaultPageHero{
height: 300px;
overflow: hidden;
width: 100%;
background-color: #ccc;
}
.HeroScrollNavButton{
outline: none;
background-size: 100% auto;
z-index: 2000;
display: block;
position: absolute;
top: 50%;
width: 34px;
height: 56px;
background-color: transparent;
-webkit-appearance: none;
border: none;
transition: top .1s;
}
.HeroScrollNavButton:hover{
background-position: 0px 100%;
}
.HeroScrollNavButton:active{
top: 51%;
transition: top .1s;
}
.HeroScrollNavButtonLeft{
left: 4px;
background-image: url(https://www.mcssl.com/content/184396/homeBanner2014/left.png);
}
.HeroScrollNavButtonRight{
right: 4px;
background-image: url(https://www.mcssl.com/content/184396/homeBanner2014/right.png);
}
#imageScroller_Container{
position: relative;
height: 500px;
width: 100%;
margin-bottom: 0px;
border-bottom: 2px solid #2b2b2b;
overflow: hidden;
text-align: center;
}
#imageScroller {
width: 100%;
height: 300px;
top: 0px;
left: 0px;
z-index: -1;
}
#imageScroller .genericContentArea{
}
.heroImage{
width: 100%;
height: 100%;
position: absolute;
top: 0px;
background-size: cover;
background-position: 50% 50%;
}
.onScreen{
left: 0px;
}
.heroImage img{
width: 100%;
z-index: 0;
}
.sliderControlWrap{
position: absolute;
top: 0px;
width: 100%;
}
.sliderContol {
position: absolute;
top: 20px;
right: 20px;
z-index: 2000;
display: block;
margin: 0 auto;
width: 90px;
height: 10px;
text-align: center;
max-width: 1016px;
box-shadow: 0px 0px 2px #2b2b2b;
}
.sliderContol .blueButton{
font-size: 14px;
padding: 2px 6px;
margin: 0px;
display: block;
float: left;
box-sizing: border-box;
width: 33.33%;
height: 100%;
}
.slideTitle{
text-align: center;
font-size: 18px;
font-style: none;
}
.slideText{
padding-bottom: 10px;
font-size: 14px;
}
.genericContentArea{
max-width: 1000px;
margin: 0px auto;
}
.onScreen .heroIllustration {
right: 0px;
bottom: -10px;
opacity: 1;
transition: all .7s;
}
.heroIllustration {
width: 60%;
position: absolute;
right: 0px;
bottom: -10%;
opacity: 0;
}
/*--HEROSCROLEREND--*/
/*--CONTENTS--*/
.howItHappened{
margin: 40px auto;
}

.sectionImage{
width: 50%;
height: 400px;
background-size: cover;
position: absolute;
background-color: #2b2b2b;
}
.sectionImageRight{
top: 0px;
right: 0px;
}
.sectionImageLeft{
top: 0px;
left: 0px;
}
#CampWingImage{
background-image: url('../images/campWing.JPG');
}

.genericContentAreaSuperWidth{
position: relative;
}
.locationDetails p, .accomodation p{
color: #ffffff;
}
/*
1.) Venue
2.) Accomodations
3.) Directions
4.) Menu
5.) Schedule
*/
.lineTitle{
position: relative;
}
.line{
position: absolute;
top: 32px;
width: 100%;
left: 0px;
height: 1px;
z-index: 0;
display: block;
background-color: #cccccc;
}
.title{
font-size: 38px;
position: relative;
z-index: 2;
display: inline-block;
background-color: #ffffff;
padding: 4px;
}
/*Schedule*/
td.time, td.activity .activityTitle{
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
}
td.activity .activityTitle{
  font-weight: 400;
  font-weight: bolder;
  padding: 4px;
}

td.time{
text-align: center;
width: 120px;
vertical-align: top;
}
td.activity p{
margin: 10px 0px 40px 0px;
color: #2b2b2b;
padding: 4px;
}

.schedule td{
vertical-align: top;
}
.schedule h2{
font-weight: 400;
}
td.time span{
display: block;
margin-right: 10px;
padding: 4px;
}
/*Schedule*/

/*--CONTENTSEND--*/
/*googleMaps*/
#map-canvas{
height: 620px;
width: 100%;
}
/*googleMaps*/
/*GLOBZ BREAH*/
  .col-66{
  width: 66%;
  }
  .col-33{
  width: 33%;
  }
  .col-30{
  width: 30%;
  }
  .col-50{
  width: 50%;
  }
  .col-75{
  width: 75%;
  }
  .col-25{
  width: 25%;
  text-align: center;
  }
/*GLOBZ BREAH END*/
@media (max-width: 1199px){
  #container{
  margin:0px 10px;
  }
}


@media (max-width: 400px){
  .col-66{
  width: 100%;
  }
  .col-33{
  width: 100%;
  }
  .col-30{
  width: 100%;
  }
  .col-50{
  width: 100%;
  }
  .col-75{
  width: 100%;
  }
  .col-25{
  width: 100%;
  text-align: center;
  }
}




