<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
  •∞G∆ßE∞•
  </title>
  <script src="{{ site.baseurl }}js/core/script.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="canonical" href="http://www.gabrieljablanczy.com" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <meta name="description" content="Experienced Web Development Professional out of Boston MA." />
  <meta property="og:title" content="G∆ßri∑L J∂ßl∆nçzy™"/>
  <meta property="og:description" content="Experienced Web Development Professional out of Boston MA."/>
  <meta property="og:url" content="http://www.gabrieljablanczy.com"/>
  <meta property="og:site_name" content="Gabriel Jablanczy dot com"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://raw.githubusercontent.com/gabriel3000/gabriel3000.github.io/master/_site/assets/imgdesc.png?this=that"/>
  <meta property="og:image:width" content="476" />
  <meta property="og:image:height" content="250" />
</head>