// Layout styles
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  width: 100%;
}

// Header
.site-header {
  background-color: $background-dark;
  color: #fff;
  padding: $spacing-unit * 2 0;
  margin-bottom: $spacing-unit * 2;
  border-bottom: 2px solid $border-color;

  .site-title {
    margin: 0 0 $spacing-unit 0;
    font-size: 2.5rem;
    font-family: $font-family-base;
    font-weight: 700;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: $link-hover;
      }
    }
  }

  .site-description {
    color: $text-light;
    margin-bottom: $spacing-unit;
  }
}

.site-nav {
  a {
    color: #fff;
    margin-right: $spacing-unit;
    padding: 0.5rem 0;
    display: inline-block;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

// Main content
.page-content {
  flex: 1;
  padding-bottom: $spacing-unit * 3;
}

// Footer
.site-footer {
  background-color: $background-dark;
  padding: $spacing-unit * 2 0;
  margin-top: $spacing-unit * 3;
  border-top: 2px solid $border-color;
  color: $text-light;
  font-size: 0.9rem;

  p {
    margin: 0;
    text-align: center;
  }
}

// Responsive
@media (max-width: $tablet) {
  .container {
    padding: 0 $spacing-unit * 0.75;
  }

  .site-header {
    padding: $spacing-unit 0;

    .site-title {
      font-size: 1.5rem;
    }
  }

  .site-nav {
    a {
      margin-right: $spacing-unit * 0.5;
    }
  }
}
