body{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
}
/*
https://media.giphy.com/media/3o6ZsUV73iK6lAHU5y/giphy.gif
https://media.giphy.com/media/twAziIN9k5Ipa/giphy.gif
https://media.giphy.com/media/xTiN0o72OFIX0T4krm/giphy.gif
https://media.giphy.com/media/YhpMGVNMpRgl2/giphy.gif
*/
.frame {
  &--top {
    top: 10px;
  }
  &--bottom {
    bottom: 10px;
  }
  &--right {
    right: 10px;
  }
  &--left {
    left: 10px;
  }
  &--top,
  &--bottom {
    width: 100%;
    height: 18px;
    background-size: 43px 18px;
  }
  &--right,
  &--left {
    height: 100%;
    width: 18px;
    top: 0px;
 background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:osb='http://www.openswatchbook.org/uri/2009/osb' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' width='18mm' height='43mm' viewBox='0 0 18 43' version='1.1' id='svg8'%3E%3Cdefs id='defs2'%3E%3ClinearGradient id='linearGradient864' osb:paint='gradient'%3E%3Cstop style='stop-color:%23000000;stop-opacity:1;' offset='0' id='stop860' /%3E%3Cstop style='stop-color:%23000000;stop-opacity:0;' offset='1' id='stop862' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cmetadata id='metadata5'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg id='layer1'%3E%3Cg id='g983' transform='rotate(90,8.5728244,8.8527446)'%3E%3Cpath style='color:%23000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23000000;solid-opacity:1;vector-effect:none;fill:%23e6e6e6;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:%23000000' d='m 33.303677,1.0453337 c -3.824669,0 -6.972649,3.147984 -6.972649,6.9726562 v 0.4218749 c 0,3.8246722 3.14798,6.9726572 6.972649,6.9726572 h 19.3086 c 3.824671,0 6.972652,-3.147979 6.972652,-6.9726572 V 8.0179899 c 0,-3.824678 -3.147981,-6.9726562 -6.972652,-6.9726562 z m 0,4.40039 h 19.3086 c 1.463181,0 2.572261,1.1090841 2.572261,2.5722662 v 0.4218749 c 0,1.463182 -1.10908,2.5722662 -2.572261,2.5722662 h -19.3086 c -1.46318,0 -2.57226,-1.1090782 -2.57226,-2.5722662 V 8.0179899 c 0,-1.4631882 1.10908,-2.5722662 2.57226,-2.5722662 z' id='path907-8' /%3E%3Cpath style='color:%23000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23000000;solid-opacity:1;vector-effect:none;fill:%23e6e6e6;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:%23000000' d='m -9.7949127,1.0956547 c -3.8246713,0 -6.9726523,3.147984 -6.9726523,6.972656 v 0.421875 c 0,3.8246723 3.147981,6.9726563 6.9726523,6.9726563 h 19.308598 c 3.8246697,0 6.9726497,-3.147978 6.9726497,-6.9726563 v -0.421875 c 0,-3.824678 -3.14798,-6.972656 -6.9726497,-6.972656 z m 0,4.40039 h 19.308598 c 1.4631797,0 2.5722597,1.109084 2.5722597,2.572266 v 0.421875 c 0,1.463182 -1.10908,2.5722663 -2.5722597,2.5722663 h -19.308598 c -1.4631803,0 -2.5722613,-1.1090783 -2.5722613,-2.5722663 v -0.421875 c 0,-1.463188 1.109081,-2.572266 2.5722613,-2.572266 z' id='path907' /%3E%3Crect style='opacity:1;fill:%23e6e6e6;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' id='rect911' width='32.22065' height='5.5002503' x='5.1675968' y='5.5074348' ry='2.7501252' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 18px 43px;
  }
  position: fixed;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:osb='http://www.openswatchbook.org/uri/2009/osb' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' width='43mm' height='18mm' viewBox='0 0 43 18' version='1.1' id='svg8'%3E%3Cdefs id='defs2'%3E%3ClinearGradient id='linearGradient864' osb:paint='gradient'%3E%3Cstop style='stop-color:%23000000;stop-opacity:1;' offset='0' id='stop860' /%3E%3Cstop style='stop-color:%23000000;stop-opacity:0;' offset='1' id='stop862' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cmetadata id='metadata5'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg id='layer1'%3E%3Cpath style='color:%23000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23000000;solid-opacity:1;vector-effect:none;fill:%23e6e6e6;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:%23000000' d='m 33.303677,1.0453337 c -3.824669,0 -6.972649,3.147984 -6.972649,6.9726562 v 0.4218749 c 0,3.8246722 3.14798,6.9726572 6.972649,6.9726572 h 19.3086 c 3.824671,0 6.972652,-3.147979 6.972652,-6.9726572 V 8.0179899 c 0,-3.824678 -3.147981,-6.9726562 -6.972652,-6.9726562 z m 0,4.40039 h 19.3086 c 1.463181,0 2.572261,1.1090841 2.572261,2.5722662 v 0.4218749 c 0,1.463182 -1.10908,2.5722662 -2.572261,2.5722662 h -19.3086 c -1.46318,0 -2.57226,-1.1090782 -2.57226,-2.5722662 V 8.0179899 c 0,-1.4631882 1.10908,-2.5722662 2.57226,-2.5722662 z' id='path907-8' /%3E%3Cpath style='color:%23000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23000000;solid-opacity:1;vector-effect:none;fill:%23e6e6e6;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:%23000000' d='m -9.7949127,1.0956547 c -3.8246713,0 -6.9726523,3.147984 -6.9726523,6.972656 v 0.421875 c 0,3.8246723 3.147981,6.9726563 6.9726523,6.9726563 h 19.308598 c 3.8246697,0 6.9726497,-3.147978 6.9726497,-6.9726563 v -0.421875 c 0,-3.824678 -3.14798,-6.972656 -6.9726497,-6.972656 z m 0,4.40039 h 19.308598 c 1.4631797,0 2.5722597,1.109084 2.5722597,2.572266 v 0.421875 c 0,1.463182 -1.10908,2.5722663 -2.5722597,2.5722663 h -19.308598 c -1.4631803,0 -2.5722613,-1.1090783 -2.5722613,-2.5722663 v -0.421875 c 0,-1.463188 1.109081,-2.572266 2.5722613,-2.572266 z' id='path907' /%3E%3Crect style='opacity:1;fill:%23e6e6e6;fill-opacity:1;fill-rule:nonzero;stroke:%23000000;stroke-width:1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' id='rect911' width='32.22065' height='5.5002503' x='5.1675968' y='5.5074348' ry='2.7501252' /%3E%3C/g%3E%3C/svg%3E%0A");
}
.job {
  &:nth-child(1){
    h3{
      background-image: url(https://media.giphy.com/media/twAziIN9k5Ipa/giphy.gif);
    }
  }
  &:nth-child(2){
    h3{
      background-image: url(https://media.giphy.com/media/BlcWQ9L2VfOFO/giphy.gif);
    }
  }
  &:nth-child(3){
    h3{
      background-image: url(https://media.giphy.com/media/qdsffptTaY41i/giphy.gif);
    }
  }
}
.job h3 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  background-position: 50%;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
  background-color: #cccccc;
  background-size: cover;
  & > * {
    color: #ffffff;
  }
  a {
    text-decoration: none;
  }
  & > span {
    text-decoration: none;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
  }
}

.top * {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 80px;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
a.link{
  text-decoration: underline;
}
.scorpion {
  max-width: 500px;
}
.cv{
  position: relative;
  .cv-title-wrap{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
  }
  .cv-title-inner-wrap {
	margin: 100px auto 0 auto;
	text-align: center;
	opacity: 0.2;
	width: 480px;
	height: 340px;
	position: relative;
	.cv-title {
	  width: 100%;
	  height: 110px;
	  top: 0;
	  left: 0;
	  position: absolute;
	  margin: 0;
	  font-size: 250px;
	  line-height: 100%;
	  font-weight: 700;
	}
	.arrow {
	  width: 100%;
	  height: 110px;
	  bottom: 36px;
	  left: -104px;
	  position: absolute;
	  margin: 0;
	  line-height: 45px;
	  font-size: 291px;
	  display: block;
	  text-align: center;

	}
  }
  .job {
	h3 {
	  font-size: 40px;
	}
	h4 {

	}
	.awards{
	  margin-top:20px;
	}
	margin-bottom: 40px;
  }
}


.cube-wrap {
  perspective: 800px;
  transform: scale(0.9);
  perspective-origin: 50% 0px;
  width: 246px;
  h1{
	cursor: pointer;
	font-style: italic;
	font-weight: bolder;
	color: #ffffff!important;
	background-color: red;
	display: inline-block;
	padding: 10px 20px;
	font-size: 24px;
	margin: 0;
	width: 246px;
  }
}
.cube-wrap *{
  box-sizing: border-box;
}
.cube{
  transition: all 1s;
  position: relative;
  width: 246px;
  height: 46px;
  transform-style: preserve-3d;
  animation: spin 2s infinite linear both;
}
@keyframes spin {
    0%   {transform: rotateY(0deg) rotateX(0deg);}
    25%  {transform: rotateY(25deg) rotateX(25deg);}
    50%  {transform: rotateY(35deg) rotateX(35deg);}
    100% {transform: rotateY(0deg) rotateX(0deg);}

}

.plane{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  font-family: sans-serif;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}


.plane3, .plane4{
  font-size: 12px;
}

.plane5 {
  transform: translateZ(4px) rotateY(180deg);
  width: 246px;
  height: 46px;
}
.plane4 {
  transform: rotateY(-270deg) translateX(-4px) translateY(0px) translateZ(255px);
  transform-origin: bottom right;
  height: 46px;
  width: 46px;
}
.plane3 {
  transform: rotateY(270deg) translateX(4px);
  transform-origin: center left;
  height: 46px;
  width: 46px;
}
.plane2 {
  transform: rotateX(-90deg) translateY(-50px);
  transform-origin: top center;
  width: 246px;
  height: 46px;
}
.plane1 {
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom center;
  width: 246px;
  height: 46px;
}
.plane0 {
  transform: translateZ(50px);
  padding: 10px 0px;
  height: 46px;
  font-family: sans-serif;
  font-size: 24px;
  width: 246px;
  background-color: red;
  color: #fff;
  text-align: center;
}

// .cube:hover {
//   transform: rotateY(30deg) rotateX(30deg);
// }
#header{
  height: 70px;
  padding-top: 15px;
}

.masthead-title{
    padding: 50px 0 20px 0;
}

@media (min-width: 768px){
  .container {
      width: 750px;
  }
}

@media (min-width: 992px){
  .container {
      width: 970px;
  }
}

@media (min-width: 1200px){
  .container {
      width: 1170px!important;
  }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
}
