body{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
}
/*
https://media.giphy.com/media/3o6ZsUV73iK6lAHU5y/giphy.gif
https://media.giphy.com/media/twAziIN9k5Ipa/giphy.gif
https://media.giphy.com/media/xTiN0o72OFIX0T4krm/giphy.gif
https://media.giphy.com/media/YhpMGVNMpRgl2/giphy.gif
*/
.job {
  &:nth-child(1){
    h3{
      background-image: url(https://media.giphy.com/media/twAziIN9k5Ipa/giphy.gif);
    }
  }
  &:nth-child(2){
    h3{
      background-image: url(https://media.giphy.com/media/BlcWQ9L2VfOFO/giphy.gif);
    }
  }
  &:nth-child(3){
    h3{
      background-image: url(https://media.giphy.com/media/qdsffptTaY41i/giphy.gif);
    }
  }
}
.job h3 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  background-position: 50%;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
  background-color: #cccccc;
  background-size: cover;
  & > * {
    color: #ffffff;
  }
  a {
    text-decoration: none;
  }
  & > span {
    text-decoration: none;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
  }
}

.top * {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 80px;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
a.link{
  text-decoration: underline;
}

.cv{
  position: relative;
  .cv-title-wrap{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
  }
  .cv-title-inner-wrap {
	margin: 100px auto 0 auto;
	text-align: center;
	opacity: 0.2;
	width: 480px;
	height: 340px;
	position: relative;
	.cv-title {
	  width: 100%;
	  height: 110px;
	  top: 0;
	  left: 0;
	  position: absolute;
	  margin: 0;
	  font-size: 250px;
	  line-height: 100%;
	  font-weight: 700;
	}
	.arrow {
	  width: 100%;
	  height: 110px;
	  bottom: 36px;
	  left: -104px;
	  position: absolute;
	  margin: 0;
	  line-height: 45px;
	  font-size: 291px;
	  display: block;
	  text-align: center;

	}
  }
  .job {
	h3 {
	  font-size: 40px;
	}
	h4 {

	}
	.awards{
	  margin-top:20px;
	}
	margin-bottom: 40px;
  }
}


.cube-wrap {
  perspective: 800px;
  transform: scale(0.9);
  perspective-origin: 50% 0px;
  width: 246px;
  h1{
	cursor: pointer;
	font-style: italic;
	font-weight: bolder;
	color: #ffffff!important;
	background-color: red;
	display: inline-block;
	padding: 10px 20px;
	font-size: 24px;
	margin: 0;
	width: 246px;
  }
}
.cube-wrap *{
  box-sizing: border-box;
}
.cube{
  transition: all 1s;
  position: relative;
  width: 246px;
  height: 46px;
  transform-style: preserve-3d;
  animation: spin 2s infinite linear both;
}
@keyframes spin {
    0%   {transform: rotateY(0deg) rotateX(0deg);}
    25%  {transform: rotateY(25deg) rotateX(25deg);}
    50%  {transform: rotateY(35deg) rotateX(35deg);}
    100% {transform: rotateY(0deg) rotateX(0deg);}

}

.plane{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  font-family: sans-serif;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}


.plane3, .plane4{
  font-size: 12px;
}

.plane5 {
  transform: translateZ(4px) rotateY(180deg);
  width: 246px;
  height: 46px;
}
.plane4 {
  transform: rotateY(-270deg) translateX(-4px) translateY(0px) translateZ(255px);
  transform-origin: bottom right;
  height: 46px;
  width: 46px;
}
.plane3 {
  transform: rotateY(270deg) translateX(4px);
  transform-origin: center left;
  height: 46px;
  width: 46px;
}
.plane2 {
  transform: rotateX(-90deg) translateY(-50px);
  transform-origin: top center;
  width: 246px;
  height: 46px;
}
.plane1 {
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom center;
  width: 246px;
  height: 46px;
}
.plane0 {
  transform: translateZ(50px);
  padding: 10px 0px;
  height: 46px;
  font-family: sans-serif;
  font-size: 24px;
  width: 246px;
  background-color: red;
  color: #fff;
  text-align: center;
}

// .cube:hover {
//   transform: rotateY(30deg) rotateX(30deg);
// }
#header{
  height: 70px;
  padding-top: 15px;
}

.masthead-title{
    padding: 50px 0 20px 0;
}

@media (min-width: 768px){
  .container {
      width: 750px;
  }
}

@media (min-width: 992px){
  .container {
      width: 970px;
  }
}

@media (min-width: 1200px){
  .container {
      width: 1170px!important;
  }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}