<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="wrap">
    <div class="container content">
      <h1>{{ site.title }}</h1>
      <main>
        {{ content }}
      </main>
      <!-- <img class="scorpion" src="img/scorpion.svg" /> -->
      <footer class="footer">
      </footer>
    </div>
    <!-- <div class="frame frame--top"></div>
    <div class="frame frame--right"></div>
    <div class="frame frame--bottom"></div>
    <div class="frame frame--left"></div> -->
  </body>
</html>
